:root {
    --main-bg-color: #FFEFDF;
    --main-text-color: #404040;
    --main-font: Helvetica;
    --accent1-bg-color: #505050;
    --accent1-text-color: #FFFFFF;
    --accent2-bg-color: #00EEFF;
    --card-bg-color: #FFCCA0;
    --heading-font: 'Trebuchet MS';
}

body {
    /*
    background-color: #00FF00;
    */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: var(--accent1-bg-color);
    color: var(--accent1-text-color);
    font-family: var(--heading-font);
    padding: 32px 0 16px 0;
    border-bottom: var(--accent2-bg-color) 8px solid;
}

div#navbar-title {
    float: left;
    vertical-align: middle;
}

div#navbar-title h1 {
    margin: 0;
}

header nav {
    float: right;
}

header li {
    float: left;
    display: inline;
    padding: 0 16px 0 16px;
    margin: 0;
}

header a {
    color: var(--accent1-text-color);
    text-decoration: none;
}

header a:hover {
    color: var(--accent2-bg-color);
}

.current a {
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
}

h1,h2,h3,h4,h5 {
    font-family: var(--heading-font);
}

hr {
    width: 50%;
    text-align: center;
}

.banner {
    border: 1px solid black;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.button {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border: 2px solid var(--accent2-bg-color);
    border-radius: 16px;
    padding: 8px;
}

.button:hover {
    background-color: var(--accent2-bg-color);
    color: inherit;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.card-list {
    
}

.card {
    background-color: var(--main-bg-color);
    border: 2px solid var(--accent1-bg-color);
    border-radius: 0.25rem;
    margin: 1rem 0 1rem 0;
}

.card-header {
    background-color: var(--card-bg-color);
    border-radius: calc(0.25rem - 2px) calc(0.25rem - 2px) 0 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.4rem;
}

.card-body {
    border-radius: 0 0 calc(0.25rem - 2px) calc(0.25rem - 2px);
    margin: 0;
    padding: 0.4rem;
}

.card-heading {
    margin: 0;
    padding: 0;
}

.card-date {
    margin: 0;
    padding: 0;
}

.card-subheading {
    margin: 0;
    padding: 0;
}

.card-description {
    margin: 0.25rem 0 0.25rem 0;
}

.portfolio-links {
    list-style: none;
}

.portfolio-links li {
    display: inline;
}

.portfolio-links a {
    
}

.badge {
    margin: 2rem;
    padding: 0;
}

.badge img {
    vertical-align: middle;
}

figure {

}

figcaption {
    text-align: center;
}

footer {
    background-color: var(--accent1-bg-color);
    color: var(--accent1-text-color);
    font-family: var(--heading-font);
    padding: 20px;
    text-align: center;
}